@use '../base';

/* 1200px and up */
@media only screen and (min-width: 1200px) {

  #tab_pdf, #tab_PDF {
    #pdfextended-settings {

      /* Font manager modal */
      #font-manager-overlay {
        #gfpdf-font-manager-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 2rem;
          bottom: 2px;
          color: base.$default-text-color;
        }

        /* Font list */
        .font-list {
          max-height: 600px;
          box-shadow: unset;
        }

        /* Add font */
        .add-font-column {
          overflow: hidden;
          padding-top: 0;

          form {
            .footer {
              .msg {
                font-size: 13px;
                text-align: unset;
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }
}
